.register-section {
	margin-top: 5%;
	margin-bottom: 5%;
	box-shadow: 0 5px 8px 0 rgb(0 0 0 / 20%), 0 9px 26px 0 rgb(0 0 0 / 19%);
}

.register-form {
	padding: 15px;
}

.datepicker .Zebra_DatePicker {
	bottom: 100%;
	top: auto;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
